body{
  margin:0;
  background-color:black ;
}

/* for header */
#main_title{
  margin:30px 525px;
  position:absolute;
}

#header_about_us{
  margin:230px 70px;
  position:absolute;
}

#header_book_tickets{
  margin:390px 70px;
  position:absolute;
}

#header_shop{
  margin:230px 1150px;
  position:absolute;
}

#header_tour{
  margin:390px 1150px;
  position:absolute;
}



#main{
  position: absolute;
  width:100%;
  height:100%;
  background-image: url('first_img.png');
  background-position: 270px -180px;
  background-repeat: no-repeat;
  background-size: 800px 1050px ;
  z-index: -1;
}

#main_wrapper{
  position:absolute;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.4);
}

#tour_background{
  position: absolute;
  width:100%;
  height:140%;
  background-image: url('tour_background.png');
  background-size:cover;
  top:100%;
  background-attachment:fixed;
  opacity:0.9;
}

#tour_wrapper{
  position:absolute;
  width:100%;
  height:110%;
  background-color: rgba(0,0,0,0.5);
}

#about_background{
  position: absolute;
  width:100%;
  height:100%;
  background-image: url('tour_background.png');
  background-size:cover;
  top:200%;
  background-attachment:fixed;
}

#about_wrapper{
  position:absolute;
  width:100%;
  height:110%;
  background-color: rgba(0,0,0,0.5);
}

#bryson_img{
  margin:20px 50px;
}

#scotty_img{
  padding:50px;
}
